.demo-col {
    border: dashed 1px #cccccc;
}

.logo {
    height: 25px;
    margin-left: 10px;
}

.app-logo-text {
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    padding-left: 15px;
}

.ccd-link {
    color: #ffffff;
    text-decoration-style: dashed;
    text-decoration-line: dashed;
}