.layout-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  z-index: 1111;
}

.login-container {
  width: 100%;
  height: 100%;
}
